@model IEnumerable<ContactsAspMvc.Models.Contact>

@{
    ViewBag.Title = "Index";
}

<h2>Contatos</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactDateOfBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ContactName, "Edit", new { id = item.ContactId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactDateOfBirth)
        </td>
        <td>
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
