@model IEnumerable<ContactsAspMvc.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Telefones</h2>

<p>
    @Html.ActionLink("Adicionar", "Create", new { id = ViewBag.ContactId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneType.PhoneTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.PhoneNumber, "Edit", new { id = item.PhoneId, contactId = ViewBag.ContactId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneType.PhoneTypeName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.PhoneId })
        </td>
    </tr>
}

</table>
